.chattingInfo{
    position: relative;
    background-color: #fff;
    z-index: 99;
}

.chattingInfo-img{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.round_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 230px;
    height: 230px;
    z-index: -1;
}

.chatting-info-avatar-name{
    margin: 0px 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    overflow-wrap: break-word;
    justify-content: center;
    font-weight: bold;
}

.chatting-info-avatar-name div{
    margin-right: 10px;
}

.chatting-info-avatar-name div:last-child{
    margin-right: 0px;
}

.personal-info{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.personal-info p{
    font-size: 14px;
    margin-left: 5px;
}


.table-wrapper{
    margin: 0 10px;
    margin-top: 50px;
}

.table-data-info{
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid gray;
    padding: 8px 0;
    align-items: center;
}

.table-type{
    width: 100px;
}

.table-data-info span svg{
    font-size: 18px !important;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.table-data{
    overflow-wrap: break-word;
    width: 140px;
}

.back-from-user-info{
    display: grid !important;
    place-items: center !important;
    height: 40px !important;
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    border-radius: 100% !important;
    background-color: rgb(78, 84, 112) !important;
    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
    padding: 0 !important;
    overflow: hidden !important;
    color: #fff !important;
}

@media screen and (max-width:1260px) {
    .chattingInfo{
        position: absolute;
        right: 0;
        top: 0;
        width: 33%;
    }

    .chatInfo-overflow{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #0000004d;
        height: 100vh;
    }
}

@media screen and (max-width:1024px){
    .chattingInfo {
        width: 60%;
    }
}

@media screen and (max-width:620px){
    .chattingInfo {
        width: 100%;
    }

    .table-wrapper ,
    .personal-info{
        width: 75%;
        overflow-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
    }

}