.chattingInfo{
    position: relative;
    background-color: #fff;
}

.chattingInfo-img{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.chatting-info-avatar-name{
    margin: 20px 10px;
    font-size: 20px;
    text-align: center;
}

.personal-info{
    font-size: 14px;
    margin: 0 10px;
}

.table-wrapper{
    margin: 0 10px;
    margin-top: 50px;
}

.table-data-info{
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid gray;
    padding: 8px 0;
    align-items: center;
}

.table-type{
    width: 100px;
}

.table-data-info span svg{
    font-size: 18px !important;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.table-data{
    overflow-wrap: break-word;
    width: 140px;
}

.back-from-user-info{
    display: grid !important;
    place-items: center !important;
    height: 40px !important;
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    border-radius: 100% !important;
    background-color: rgb(78, 84, 112) !important;
    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
    padding: 0 !important;
    overflow: hidden !important;
    color: #fff !important;
}

@media screen and (max-width:1260px) {
    .chattingInfo{
        position: absolute;
        right: 0;
        top: 0;
        width: 33%;
    }

    .chatInfo-overflow{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #0000004d;
        height: 100vh;
    }
}

@media screen and (max-width:1024px){
    .chattingInfo {
        width: 60%;
    }
}

@media screen and (max-width:620px){
    .chattingInfo {
        width: 100%;
    }

    .table-wrapper ,
    .personal-info{
        width: 75%;
        overflow-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
    }
}