.chatting-text-area {
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-height:900px) {
    .chatting-text-area {
        height: 76vh;
    }
}

@media screen and (max-height:800px) {
    .chatting-text-area {
        height: 73vh;
    }
}


@media screen and (max-height:700px) {
    .chatting-text-area {
        height: 70vh;
    }
}

@media screen and (max-height:620px) {
    .chatting-text-area {
        height: 68vh;
    }
}

.single-text-field {
    display: flex;
    position: relative;
}

.the-message {
    padding: 15px 20px;
    background-color: #fff;
    margin: 0 10px;
    max-width: 70%;
    width: fit-content;
    border-radius: 20px;
    border-top-left-radius: 0;
    box-shadow: 0px 4px 34px 1px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    position: relative;
}

.the-message[type="audio"] {
    min-width: max-content;
}

.the-message-sent {
    font-size: 12px;
    display: inline-block;
    margin: 10px 20px;
    margin-top: 5px;
}

.single-text-field[type="me"] {
    direction: rtl;
}

.single-text-field[type="me"] .the-message {
    direction: ltr;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    max-width: 67%;
    width: fit-content;
}

.single-text-field[type="me"] span {
    direction: ltr;
}

.specific_reply {
    position: relative;
    padding: 15px 20px;
    margin-right: 10px;
    background: #fff;
    text-align: left;
    opacity: .6;
    top: 15px;
    box-shadow: 0px 4px 34px 1px rgb(0 0 0 / 8%);
    border-radius: 20px;
    max-width: 67%;
    width: fit-content;
    overflow: hidden;
    direction: ltr !important;
}

.option-icon {
    position: absolute;
    top: 0;
    right: -35px;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

.single-text-field:hover .option-icon {
    opacity: 1;
}

.single-text-field[type="me"] .option-icon {
    right: auto;
    left: -35px;
}

.text-option-list {
    position: absolute;
    top: 0;
    right: -140px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    padding: 3px 0;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: auto;
}

.single-text-field[type="me"] .text-option-list {
    right: auto;
    left: -140px;
}

.text-option-list button {
    padding: 3px 25px !important;
    cursor: pointer !important;
    font-size: 14px !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    text-transform: none;
}


.recording-icon{
    width: 400px;
}

.recording-buttons-area{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.recoder-audio-player{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.recoder-audio-player .MuiPaper-root.MuiGrid-root.MuiPaper-rounded{
    position: relative;
    top: -35px;
}

.voice-recoder-modal{
    position: relative;
    width: 400px;
    height: 300px;
}

.audio__player .MuiPaper-root {
    box-shadow: none !important;
}

.audio__player svg.MuiSvgIcon-root:hover {
    color: rgba(0, 0, 0, 0.54) !important;
}

@media screen and (max-width:1024px) {
    .audio__player .MuiPaper-root.MuiGrid-root.MuiPaper-elevation1 {
        display: flex;
        align-items: center;
        width: 280px;
    }

    .audio__player .MuiGrid-spacing-xs-3>.MuiGrid-item {
        align-items: center;
    }
}

@media screen and (max-width:850px) {
    .the-message p {
        font-size: 14px;
    }
}