.app{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.chatlist{
    width: 380px;
    min-width: 380px;
}

.chattingArea{
    position: relative;
    width: 100%;
    background: linear-gradient(338.12deg, rgba(197, 244, 255, 0.76) 4.67%, rgba(197, 244, 255, 0.07) 41.31%, rgba(197, 244, 255, 0.42) 67.52%);
}

.chattingInfo{
    width: 320px;
    min-width: 320px;
}

.chatlist,
.chattingArea,
.chattingInfo{
    height: 100vh;
    overflow: hidden;
}

/* opening */

.opening{
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

._open{
    width: 100%;
    animation: pen 1s;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(216, 216, 216);
}